expositores.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="shortcut icon" href="images/favicon.png"/>
    <link rel="stylesheet" href="https://file.myfontastic.com/4iY3LJhFfH23HpUnfQazjS/icons.css"/>
    <link rel="stylesheet" href="css/styles.css"/>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArCETPtmpt7r3Dxb9FjN0zg1nIY-ejWyc"></script>
    <script src="js/gmaps.js"></script>
    <title>OVUM</title>
  </head>
  <body>
    <div class="Page">
      <div class="Page__Content">
        <div class="Page__Bars icon-bars"> </div>
        <header class="Header">
          <div class="Header__Close icon-close"></div>
          <nav>
            <ul>
              <li><a href="index.html">Inicio</a></li>
              <li><a href="stands.html">Stands</a></li>
              <li><a href="expositores.html">Expositores</a></li>
              <li><a href="publico.html">Público</a></li>
            </ul>
          </nav>
        </header>
        <div class="Page__Container Expositores PubExp">
          <div class="Page__Opacity"></div>
          <div class="Page__LightBox">
            <div class="close icon-close"></div><img src="images/expositores_disponible.png" alt=""/>
            <h3>Nombre del Expositor</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni assumenda ducimus minima voluptatem, a debitis dignissimos repellat incidunt! Neque fugiat rem non ab autem fuga? Corporis cumque alias accusantium rem mollitia nam non ducimus, voluptates deleniti qui veniam maxime perspiciatis, culpa soluta facere! Nisi sit eveniet nemo laboriosam fugiat tempora laudantium quisquam odio atque earum distinctio amet nulla asperiores nesciunt, officiis, eius temporibus vero quod reiciendis, aut nam neque quam similique! Unde dolorem similique quam, porro at eveniet architecto aperiam aut nobis perferendis esse! Suscipit, quisquam praesentium numquam fuga veritatis vel itaque adipisci eos voluptates! Quaerat iste, dicta doloribus aliquid, laudantium cupiditate illum, </p>
          </div>
          <div class="PubExp__Row">
            <div class="PubExp__Item Col1">
              <div class="Col1__Row1">
                <div class="PubExp__Logo">
                  <div class="PubExp__LogoContent"><a href="index.html"><img class="LogoPrincipal" src="images/home_logo.png" alt=""/></a></div>
                </div>
              </div>
              <div class="Col1__Row2">
                <div class="Col1__Row2__Content">
                  <div class="Col1__Row2__Item fondoExpositores">
                    <div class="Box">
                      <h2>Expositores</h2>
                      <p>Gracias por querer ser parte de nuestros ilustre panel de expositores en el <b>Ovum2019</b> <br>Ingresa tus datos que en breve nos pondremos en contacto.</p>
                      <p><b>Ovum2019,</b> donde nace la camaraderia, donde nace el futuro.</p>
                    </div>
                    <div class="Box__Links">
                      <div class="Box__Links_Item Stands"><a href="stands.html">Stands </a></div>
                      <div class="Box__Links_Item Publico"><a href="publico.html">Público</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="PubExp__Item Col2">
              <div class="Expositores__Right Content">
                <div class="Expositores__Right Item">
                  <div class="Expositores__Right__Content">
                    <div class="Expositores__GaleriaScroll Up"><img src="images/expositores_up.png" alt=""/></div>
                    <div class="Expositores__Galeria">
                      <div class="item">
                        <div class="item_content"><img src="images/expositores_nombre.png" alt=""/>
                          <div class="cover"></div>
                          <h3>Nombre de Expositor</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil adipisci dignissimos, iusto quis maxime autem blanditiis, nulla quia qui tempora, deleniti explicabo! Perferendis, delectus. Ex in quibusdam quae culpa aliquid ipsam odit dicta nemo animi, sed rem perspiciatis voluptatem repellendus molestias inventore maxime dignissimos, pariatur, nam quidem reiciendis recusandae tenetur? Quis ex qui sed possimus reiciendis et blanditiis atque, aperiam quibusdam, maxime repellat est. Dignissimos dolorem molestiae mollitia accusamus officia quidem fugit pariatur, eveniet similique ex saepe illum. Tempore natus perspiciatis facere dolore expedita reprehenderit cum. Dolore nulla natus delectus ratione temporibus ducimus sint sequi fugiat asperiores, iusto explicabo? Quaerat?</p>
                      </div>
                      <div class="item">
                        <div class="item_content"><img src="images/expositores_disponible.png" alt=""/>
                          <div class="cover"></div>
                          <h3>disponible</h3>
                        </div>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate asperiores obcaecati atque consequuntur aspernatur blanditiis repudiandae soluta earum, cum consectetur libero quam, praesentium, dolor sint impedit. Ratione illo nulla similique dolorum explicabo dolorem vel aliquam sed placeat, dolor quas accusamus sint recusandae repellat reprehenderit et at ad, sapiente omnis necessitatibus quidem? Sequi error, ratione nihil quam quia accusantium maiores ea quidem distinctio explicabo officiis ipsa inventore ex accusamus nostrum sint aliquid quos praesentium non veniam quo? Voluptatem, odio velit. Eligendi.</p>
                      </div>
                      <div class="item">
                        <div class="item_content"><img src="images/expositores_disponible.png" alt=""/>
                          <div class="cover"></div>
                          <h3>disponible</h3>
                        </div>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi hic, adipisci fuga autem porro aut, maxime voluptatum non rerum corrupti accusamus vel, harum eos sapiente cum! Amet ipsum deleniti quis sapiente adipisci repellendus. Eos nulla hic at mollitia, atque nesciunt nisi ea laborum recusandae repellat nemo pariatur dignissimos, fuga quaerat quo cupiditate cumque in quidem provident.</p>
                      </div>
                      <div class="item">
                        <div class="item_content"><img src="images/expositores_nombre.png" alt=""/>
                          <div class="cover"></div>
                          <h3>Nombre  de Expositor 02</h3>
                        </div>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi temporibus incidunt praesentium, architecto consectetur, explicabo facilis veritatis sapiente rem eos eligendi quis dolorum animi libero maiores eaque odit cupiditate alias dignissimos consequuntur corporis molestiae voluptatem. Nisi quia inventore earum, odio hic magnam repudiandae, ex, qui explicabo ducimus quos consequatur ab! Odio iusto, cupiditate explicabo eaque odit placeat, est assumenda doloribus dicta at, molestias ullam. Provident, placeat et. Aliquid.</p>
                      </div>
                      <div class="item">
                        <div class="item_content"><img src="images/expositores_disponible.png" alt=""/>
                          <div class="cover"></div>
                          <h3>Nombre de Expositor 03</h3>
                        </div>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum natus laudantium, corrupti dolor accusantium recusandae consequatur? Sunt suscipit dolorem facere eligendi deserunt magni accusamus libero in! Distinctio porro corporis ab iusto ut sunt inventore, earum excepturi cum incidunt nulla, alias rerum iste rem doloremque, velit sint quaerat repellat voluptatum ex ducimus. Reprehenderit numquam blanditiis quibusdam optio quo id enim, ullam cupiditate vel atque saepe, vero et fugiat officia quisquam harum nihil fuga sint nostrum, inventore culpa odio dignissimos!</p>
                      </div>
                      <div class="item">
                        <div class="item_content"><img src="images/expositores_nombre.png" alt=""/>
                          <div class="cover"></div>
                          <h3>Nombre</h3>
                        </div>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, architecto beatae ratione ab debitis, cumque ullam eligendi ad modi nulla voluptas, nemo non numquam sapiente placeat consectetur mollitia. Veritatis dicta incidunt obcaecati ea aspernatur, sunt omnis fugit suscipit maiores doloremque saepe dolorum optio placeat deserunt repellendus. Dignissimos, eum! Aliquam!</p>
                      </div>
                      <div class="item">
                        <div class="item_content"><img src="images/expositores_disponible.png" alt=""/>
                          <div class="cover"></div>
                          <h3>Nombre</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, minus. Ullam itaque, ab porro provident nesciunt nobis magnam ratione aut et quis possimus repellendus, architecto, quasi nostrum necessitatibus ex minus aliquam. Qui temporibus quo quas ullam deserunt tempore tenetur officiis vero reprehenderit necessitatibus blanditiis, iste iure ipsam ad cumque cum obcaecati dicta, placeat magni provident optio ratione? Incidunt, dolore recusandae. Dolore sit ipsum, harum porro deserunt, pariatur, consectetur culpa quaerat nobis at non illo dolor eveniet placeat repudiandae maiores nostrum sunt suscipit hic ad quis quam reprehenderit. Ducimus error ab officia officiis ratione.</p>
                      </div>
                      <div class="item">
                        <div class="item_content"><img src="images/expositores_disponible.png" alt=""/>
                          <div class="cover"></div>
                          <h3>Nombre</h3>
                        </div>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut praesentium cum, nesciunt facere corporis illum est? Ut quidem cumque, rerum nobis recusandae dicta possimus facere? At, est. Ex laudantium provident fugiat obcaecati, architecto atque facere id inventore placeat, at exercitationem consectetur harum nesciunt. Suscipit mollitia eaque quidem? Aperiam omnis cupiditate accusamus consequatur iste non eius officiis earum temporibus a eligendi possimus veniam quia reprehenderit sapiente quis obcaecati quidem, qui tempora? Architecto ut odio, quaerat quia facilis reiciendis molestias. Officiis error alias recusandae ex odio cupiditate!</p>
                      </div>
                      <div class="item">
                        <div class="item_content"><img src="images/expositores_disponible.png" alt=""/>
                          <div class="cover"></div>
                          <h3>Nombre</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis consequuntur facere nisi voluptatibus voluptate autem expedita dolorum tempora, quae aliquam est, consequatur doloremque reprehenderit eum iste blanditiis corrupti. Possimus, incidunt ea assumenda exercitationem unde maiores! Officiis nisi odio beatae optio sunt consequuntur nulla ea minima, tenetur aperiam facere libero laboriosam voluptatum explicabo esse. Ducimus, fugit veniam! Placeat tempora temporibus eaque quo laborum laboriosam blanditiis necessitatibus sequi, optio, perspiciatis iusto molestiae a, voluptatibus recusandae illum deleniti maiores minima cum! Magnam atque ex saepe molestias, hic doloremque! Consectetur numquam beatae odio! Ratione natus porro iure!</p>
                      </div>
                      <div class="item">
                        <div class="item_content"><img src="images/expositores_nombre.png" alt=""/>
                          <div class="cover"></div>
                          <h3>Nombre</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, provident? Maiores neque enim asperiores illum beatae distinctio doloremque, ab debitis, eum dicta ullam deleniti voluptatibus veritatis, consectetur numquam quas in nisi. Mollitia libero tempore reprehenderit. Omnis qui perspiciatis tenetur. Incidunt aliquid aliquam aspernatur hic quibusdam quae iste ut ratione delectus placeat. Dicta voluptate possimus ex, illum aut iste harum adipisci, voluptates blanditiis iure quibusdam. Tenetur at consectetur magni. Corrupti perferendis cupiditate obcaecati dolore excepturi laboriosam odit!</p>
                      </div>
                    </div>
                    <div class="Expositores__GaleriaScroll Down"><img src="images/expositores_down.png" alt=""/></div>
                    <div class="Expositores__Form">
                      <div class="Formulario">
                        <h2>Deja tu info aquí.</h2>
                        <form id="FormDejaInfo" action="enviar_info.php" method="post">
                          <div class="row">
                            <div class="col_label">
                              <label>Nombre:</label>
                            </div>
                            <div class="col_input">
                              <input type="text" name="nombre"/>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col_label">
                              <label>Correo:</label>
                            </div>
                            <div class="col_input">
                              <input type="text" name="correo"/>
                            </div>
                          </div>
                          <div class="row">
                            <button type="submit">Enviar</button>
                          </div>
                        </form>
                      </div>
                      <div class="MensajeFinal">
                        <h2>¡Listo!</h2>
                        <p>Gracias por querer ser parte del Ovum2019.<br>Nuestro comité de expositores se comunicarán contigo para finalizar el proceso.</p>
                        <p>¡Nos vemos en Lima!   </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ContactoForm">
          <div class="ContactoClose icon-close"></div>
          <div class="ContactoForm__Container">
            <div class="ContactoForm__Item">
              <form id="FormContacto" method="">
                <h2>Contáctanos</h2>
                <div class="row">
                  <div class="col_label">
                    <label>Nombre:</label>
                  </div>
                  <div class="col_input">
                    <input type="text" name="nombre"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col_label">
                    <label>Correo:</label>
                  </div>
                  <div class="col_input">
                    <input type="text" name="correo"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col_label">
                    <label>Empresa:</label>
                  </div>
                  <div class="col_input">
                    <input type="text" name="empresa"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col_label">
                    <label>Telefono:</label>
                  </div>
                  <div class="col_input">
                    <input type="text" name="telefono"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col_label">
                    <label>Mensaje:</label>
                  </div>
                  <div class="col_input">
                    <textarea name="mensaje" rows="5" id="message"></textarea>
                  </div>
                </div>
                <div class="row">
                  <button type="submit">Enviar </button>
                </div>
              </form>
            </div>
            <div class="ContactoForm__Item">
              <div class="MapaDireccion">
                <div id="Mapa"></div>
                <div class="Direccion">
                  <p>ASOCIACIÓN PERUANA DE AVICULTURA <br> Direccion: Av. Esmeralda 255  Chacarilla del Estanque San Borja <br>Central Telefónica 51(1) 372-1540</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="Page__Contacto"><a href="#">Contacto</a></div>
        <div class="Page__Footer"><span class="FooterText">Congreso Latinoamericano de Avicultura 2019. Todos los derechos reservados</span>
          <div class="FooterSocial"><a class="icon-facebook" href="#"></a><a class="icon-linkedin" href="#"></a></div>
        </div>
      </div>
    </div>
    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="js/jquery.form.min.js"></script>
    <script src="js/jquery.validate.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

expositores.pug
extends template.pug

block contenido
  .Page__Container.Expositores.PubExp
    .Page__Opacity
    .Page__LightBox
      .close.icon-close
      img(src="images/expositores_disponible.png", alt="")
      h3 Nombre del Expositor
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni assumenda ducimus minima voluptatem, a debitis dignissimos repellat incidunt! Neque fugiat rem non ab autem fuga? Corporis cumque alias accusantium rem mollitia nam non ducimus, voluptates deleniti qui veniam maxime perspiciatis, culpa soluta facere! Nisi sit eveniet nemo laboriosam fugiat tempora laudantium quisquam odio atque earum distinctio amet nulla asperiores nesciunt, officiis, eius temporibus vero quod reiciendis, aut nam neque quam similique! Unde dolorem similique quam, porro at eveniet architecto aperiam aut nobis perferendis esse! Suscipit, quisquam praesentium numquam fuga veritatis vel itaque adipisci eos voluptates! Quaerat iste, dicta doloribus aliquid, laudantium cupiditate illum, 
      
    .PubExp__Row
      .PubExp__Item.Col1
        .Col1__Row1
          .PubExp__Logo
            .PubExp__LogoContent
              a(href="index.html")
                img.LogoPrincipal(src="images/home_logo.png", alt="")
        .Col1__Row2
          .Col1__Row2__Content
            .Col1__Row2__Item.fondoExpositores
              .Box
                h2 Expositores
                p Gracias por querer ser parte de nuestros ilustre panel de expositores en el <b>Ovum2019</b> <br>Ingresa tus datos que en breve nos pondremos en contacto.
                p <b>Ovum2019,</b> donde nace la camaraderia, donde nace el futuro.
              .Box__Links
                .Box__Links_Item.Stands
                  a(href="stands.html") Stands 
                .Box__Links_Item.Publico
                  a(href="publico.html") Público

      .PubExp__Item.Col2
        .Expositores__Right.Content
          .Expositores__Right.Item
            .Expositores__Right__Content
              .Expositores__GaleriaScroll.Up
                img(src="images/expositores_up.png", alt="")
              .Expositores__Galeria
                .item
                  .item_content
                    img(src="images/expositores_nombre.png", alt="") 
                    .cover
                    h3 Nombre de Expositor
                  p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil adipisci dignissimos, iusto quis maxime autem blanditiis, nulla quia qui tempora, deleniti explicabo! Perferendis, delectus. Ex in quibusdam quae culpa aliquid ipsam odit dicta nemo animi, sed rem perspiciatis voluptatem repellendus molestias inventore maxime dignissimos, pariatur, nam quidem reiciendis recusandae tenetur? Quis ex qui sed possimus reiciendis et blanditiis atque, aperiam quibusdam, maxime repellat est. Dignissimos dolorem molestiae mollitia accusamus officia quidem fugit pariatur, eveniet similique ex saepe illum. Tempore natus perspiciatis facere dolore expedita reprehenderit cum. Dolore nulla natus delectus ratione temporibus ducimus sint sequi fugiat asperiores, iusto explicabo? Quaerat?
                .item
                  .item_content
                    img(src="images/expositores_disponible.png", alt="")
                    .cover
                    h3 disponible
                  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate asperiores obcaecati atque consequuntur aspernatur blanditiis repudiandae soluta earum, cum consectetur libero quam, praesentium, dolor sint impedit. Ratione illo nulla similique dolorum explicabo dolorem vel aliquam sed placeat, dolor quas accusamus sint recusandae repellat reprehenderit et at ad, sapiente omnis necessitatibus quidem? Sequi error, ratione nihil quam quia accusantium maiores ea quidem distinctio explicabo officiis ipsa inventore ex accusamus nostrum sint aliquid quos praesentium non veniam quo? Voluptatem, odio velit. Eligendi.
                .item
                  .item_content
                    img(src="images/expositores_disponible.png", alt="")
                    .cover
                    h3 disponible
                  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi hic, adipisci fuga autem porro aut, maxime voluptatum non rerum corrupti accusamus vel, harum eos sapiente cum! Amet ipsum deleniti quis sapiente adipisci repellendus. Eos nulla hic at mollitia, atque nesciunt nisi ea laborum recusandae repellat nemo pariatur dignissimos, fuga quaerat quo cupiditate cumque in quidem provident.
                .item
                  .item_content
                    img(src="images/expositores_nombre.png", alt="")
                    .cover
                    h3 Nombre  de Expositor 02
                  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi temporibus incidunt praesentium, architecto consectetur, explicabo facilis veritatis sapiente rem eos eligendi quis dolorum animi libero maiores eaque odit cupiditate alias dignissimos consequuntur corporis molestiae voluptatem. Nisi quia inventore earum, odio hic magnam repudiandae, ex, qui explicabo ducimus quos consequatur ab! Odio iusto, cupiditate explicabo eaque odit placeat, est assumenda doloribus dicta at, molestias ullam. Provident, placeat et. Aliquid.
                .item
                  .item_content
                    img(src="images/expositores_disponible.png", alt="")
                    .cover
                    h3 Nombre de Expositor 03
                  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum natus laudantium, corrupti dolor accusantium recusandae consequatur? Sunt suscipit dolorem facere eligendi deserunt magni accusamus libero in! Distinctio porro corporis ab iusto ut sunt inventore, earum excepturi cum incidunt nulla, alias rerum iste rem doloremque, velit sint quaerat repellat voluptatum ex ducimus. Reprehenderit numquam blanditiis quibusdam optio quo id enim, ullam cupiditate vel atque saepe, vero et fugiat officia quisquam harum nihil fuga sint nostrum, inventore culpa odio dignissimos!
                .item
                  .item_content
                    img(src="images/expositores_nombre.png", alt="")
                    .cover
                    h3 Nombre
                  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, architecto beatae ratione ab debitis, cumque ullam eligendi ad modi nulla voluptas, nemo non numquam sapiente placeat consectetur mollitia. Veritatis dicta incidunt obcaecati ea aspernatur, sunt omnis fugit suscipit maiores doloremque saepe dolorum optio placeat deserunt repellendus. Dignissimos, eum! Aliquam!
                .item
                  .item_content
                    img(src="images/expositores_disponible.png", alt="")
                    .cover
                    h3 Nombre
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, minus. Ullam itaque, ab porro provident nesciunt nobis magnam ratione aut et quis possimus repellendus, architecto, quasi nostrum necessitatibus ex minus aliquam. Qui temporibus quo quas ullam deserunt tempore tenetur officiis vero reprehenderit necessitatibus blanditiis, iste iure ipsam ad cumque cum obcaecati dicta, placeat magni provident optio ratione? Incidunt, dolore recusandae. Dolore sit ipsum, harum porro deserunt, pariatur, consectetur culpa quaerat nobis at non illo dolor eveniet placeat repudiandae maiores nostrum sunt suscipit hic ad quis quam reprehenderit. Ducimus error ab officia officiis ratione.
                .item
                  .item_content
                    img(src="images/expositores_disponible.png", alt="")
                    .cover
                    h3 Nombre
                  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut praesentium cum, nesciunt facere corporis illum est? Ut quidem cumque, rerum nobis recusandae dicta possimus facere? At, est. Ex laudantium provident fugiat obcaecati, architecto atque facere id inventore placeat, at exercitationem consectetur harum nesciunt. Suscipit mollitia eaque quidem? Aperiam omnis cupiditate accusamus consequatur iste non eius officiis earum temporibus a eligendi possimus veniam quia reprehenderit sapiente quis obcaecati quidem, qui tempora? Architecto ut odio, quaerat quia facilis reiciendis molestias. Officiis error alias recusandae ex odio cupiditate!
                .item
                  .item_content
                    img(src="images/expositores_disponible.png", alt="")
                    .cover
                    h3 Nombre
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis consequuntur facere nisi voluptatibus voluptate autem expedita dolorum tempora, quae aliquam est, consequatur doloremque reprehenderit eum iste blanditiis corrupti. Possimus, incidunt ea assumenda exercitationem unde maiores! Officiis nisi odio beatae optio sunt consequuntur nulla ea minima, tenetur aperiam facere libero laboriosam voluptatum explicabo esse. Ducimus, fugit veniam! Placeat tempora temporibus eaque quo laborum laboriosam blanditiis necessitatibus sequi, optio, perspiciatis iusto molestiae a, voluptatibus recusandae illum deleniti maiores minima cum! Magnam atque ex saepe molestias, hic doloremque! Consectetur numquam beatae odio! Ratione natus porro iure!
                .item
                  .item_content
                    img(src="images/expositores_nombre.png", alt="")
                    .cover
                    h3 Nombre
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, provident? Maiores neque enim asperiores illum beatae distinctio doloremque, ab debitis, eum dicta ullam deleniti voluptatibus veritatis, consectetur numquam quas in nisi. Mollitia libero tempore reprehenderit. Omnis qui perspiciatis tenetur. Incidunt aliquid aliquam aspernatur hic quibusdam quae iste ut ratione delectus placeat. Dicta voluptate possimus ex, illum aut iste harum adipisci, voluptates blanditiis iure quibusdam. Tenetur at consectetur magni. Corrupti perferendis cupiditate obcaecati dolore excepturi laboriosam odit!
              .Expositores__GaleriaScroll.Down
                img(src="images/expositores_down.png", alt="")
              .Expositores__Form
                .Formulario
                  h2 Deja tu info aquí.
                  form(id="FormDejaInfo" action="enviar_info.php",method="post")
                    .row
                      .col_label
                        label Nombre:
                      .col_input
                        input(type="text",name="nombre")
                    .row
                      .col_label
                        label Correo:
                      .col_input
                        input(type="text",name="correo")
                    .row
                      button(type="submit") Enviar
                .MensajeFinal
                  h2 ¡Listo!
                  p Gracias por querer ser parte del Ovum2019.<br>Nuestro comité de expositores se comunicarán contigo para finalizar el proceso.
                  p ¡Nos vemos en Lima!   
              
