index.pug
extends template.pug

block contenido
  .Page__Container.Home
    .Home__RowsTwo
      .Home__Item
        .Home__Logo
          .Home__LogoContent
            a(href="index.html")
              img.LogoPrincipal(src="images/home_logo.png", alt="")
      .Home__Item
        .Home__Descripcion
          .Home__DescripcionTexto
            p 
              |El <b>Ovum2019</b> es el <b>XXVI</b> Congreso Latinoamericano de Avicultura a realizarse en la cuidad de Lima-Peru en el 2019. <br>
              | Un Evento lleno de nuevas ideas, con profesionales de primer nivel, con mas de 500 stands y con los mejores exponentes de la Avicultura Latinoamaericana.
              | Prepárate desde hoy y no pierda la oportunidad de estar presene en el <b>Ovum2019</b>.<br>
              | Ovum es donde nacen los negocios. Donde nace el conocimiento. Donde nace la tecnologia. <br>
              | Pero sobre todo... <b>DONDE NACE EL FUTURO</b>.
            p <b>¡Nos Vemos en Lima!</b>

    .Home__RowsTree
      .Home__Item
        .Home__Thumbs.Home__Thumbs_Stands
          .Home__ThumbsContent
            .Home__ThumbsContent_Detail.Home__ThumbsContent_Detail_Stands
              img(src="images/home_loguito.png", alt="")
              h2
                a(href="stands.html") Stands
              p Quiero tener mi stand en el <b>OVUM2019</b>

      .Home__Item
        .Home__Thumbs.Home__Thumbs_Expositores
          .Home__ThumbsContent
            .Home__ThumbsContent_Detail.Home__ThumbsContent_Detail_Expositores
              img(src="images/home_loguito.png", alt="")
              h2
                a(href="expositores.html") Expositores
              p Quiero ser expositor en el <b>OVUM2019</b>
      .Home__Item
        .Home__Thumbs.Home__Thumbs_Publico
          .Home__ThumbsContent
            .Home__ThumbsContent_Detail.Home__ThumbsContent_Detail_Publico
              img(src="images/home_loguito.png", alt="")
              h2
                a(href="publico.html") Público
              p Quiero asistir al <b>OVUM2019</b>

index.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="shortcut icon" href="images/favicon.png"/>
    <link rel="stylesheet" href="https://file.myfontastic.com/4iY3LJhFfH23HpUnfQazjS/icons.css"/>
    <link rel="stylesheet" href="css/styles.css"/>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArCETPtmpt7r3Dxb9FjN0zg1nIY-ejWyc"></script>
    <script src="js/gmaps.js"></script>
    <title>OVUM</title>
  </head>
  <body>
    <div class="Page">
      <div class="Page__Content">
        <div class="Page__Bars icon-bars"> </div>
        <header class="Header">
          <div class="Header__Close icon-close"></div>
          <nav>
            <ul>
              <li><a href="index.html">Inicio</a></li>
              <li><a href="stands.html">Stands</a></li>
              <li><a href="expositores.html">Expositores</a></li>
              <li><a href="publico.html">Público</a></li>
            </ul>
          </nav>
        </header>
        <div class="Page__Container Home">
          <div class="Home__RowsTwo">
            <div class="Home__Item">
              <div class="Home__Logo">
                <div class="Home__LogoContent"><a href="index.html"><img class="LogoPrincipal" src="images/home_logo.png" alt=""/></a></div>
              </div>
            </div>
            <div class="Home__Item">
              <div class="Home__Descripcion">
                <div class="Home__DescripcionTexto">
                  <p>
                     El <b>Ovum2019</b> es el <b>XXVI</b> Congreso Latinoamericano de Avicultura a realizarse en la cuidad de Lima-Peru en el 2019. <br>
                    Un Evento lleno de nuevas ideas, con profesionales de primer nivel, con mas de 500 stands y con los mejores exponentes de la Avicultura Latinoamaericana.
                    Prepárate desde hoy y no pierda la oportunidad de estar presene en el <b>Ovum2019</b>.<br>
                    Ovum es donde nacen los negocios. Donde nace el conocimiento. Donde nace la tecnologia. <br>
                    Pero sobre todo... <b>DONDE NACE EL FUTURO</b>.
                  </p>
                  <p><b>¡Nos Vemos en Lima!</b></p>
                </div>
              </div>
            </div>
          </div>
          <div class="Home__RowsTree">
            <div class="Home__Item">
              <div class="Home__Thumbs Home__Thumbs_Stands">
                <div class="Home__ThumbsContent">
                  <div class="Home__ThumbsContent_Detail Home__ThumbsContent_Detail_Stands"><img src="images/home_loguito.png" alt=""/>
                    <h2><a href="stands.html">Stands</a></h2>
                    <p>Quiero tener mi stand en el <b>OVUM2019</b></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="Home__Item">
              <div class="Home__Thumbs Home__Thumbs_Expositores">
                <div class="Home__ThumbsContent">
                  <div class="Home__ThumbsContent_Detail Home__ThumbsContent_Detail_Expositores"><img src="images/home_loguito.png" alt=""/>
                    <h2><a href="expositores.html">Expositores</a></h2>
                    <p>Quiero ser expositor en el <b>OVUM2019</b></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="Home__Item">
              <div class="Home__Thumbs Home__Thumbs_Publico">
                <div class="Home__ThumbsContent">
                  <div class="Home__ThumbsContent_Detail Home__ThumbsContent_Detail_Publico"><img src="images/home_loguito.png" alt=""/>
                    <h2><a href="publico.html">Público</a></h2>
                    <p>Quiero asistir al <b>OVUM2019</b></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ContactoForm">
          <div class="ContactoClose icon-close"></div>
          <div class="ContactoForm__Container">
            <div class="ContactoForm__Item">
              <form id="FormContacto" method="">
                <h2>Contáctanos</h2>
                <div class="row">
                  <div class="col_label">
                    <label>Nombre:</label>
                  </div>
                  <div class="col_input">
                    <input type="text" name="nombre"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col_label">
                    <label>Correo:</label>
                  </div>
                  <div class="col_input">
                    <input type="text" name="correo"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col_label">
                    <label>Empresa:</label>
                  </div>
                  <div class="col_input">
                    <input type="text" name="empresa"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col_label">
                    <label>Telefono:</label>
                  </div>
                  <div class="col_input">
                    <input type="text" name="telefono"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col_label">
                    <label>Mensaje:</label>
                  </div>
                  <div class="col_input">
                    <textarea name="mensaje" rows="5" id="message"></textarea>
                  </div>
                </div>
                <div class="row">
                  <button type="submit">Enviar </button>
                </div>
              </form>
            </div>
            <div class="ContactoForm__Item">
              <div class="MapaDireccion">
                <div id="Mapa"></div>
                <div class="Direccion">
                  <p>ASOCIACIÓN PERUANA DE AVICULTURA <br> Direccion: Av. Esmeralda 255  Chacarilla del Estanque San Borja <br>Central Telefónica 51(1) 372-1540</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="Page__Contacto"><a href="#">Contacto</a></div>
        <div class="Page__Footer"><span class="FooterText">Congreso Latinoamericano de Avicultura 2019. Todos los derechos reservados</span>
          <div class="FooterSocial"><a class="icon-facebook" href="#"></a><a class="icon-linkedin" href="#"></a></div>
        </div>
      </div>
    </div>
    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="js/jquery.form.min.js"></script>
    <script src="js/jquery.validate.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
