publico.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="shortcut icon" href="images/favicon.png"/>
    <link rel="stylesheet" href="https://file.myfontastic.com/4iY3LJhFfH23HpUnfQazjS/icons.css"/>
    <link rel="stylesheet" href="css/styles.css"/>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArCETPtmpt7r3Dxb9FjN0zg1nIY-ejWyc"></script>
    <script src="js/gmaps.js"></script>
    <title>OVUM</title>
  </head>
  <body>
    <div class="Page">
      <div class="Page__Content">
        <div class="Page__Bars icon-bars"> </div>
        <header class="Header">
          <div class="Header__Close icon-close"></div>
          <nav>
            <ul>
              <li><a href="index.html">Inicio</a></li>
              <li><a href="stands.html">Stands</a></li>
              <li><a href="expositores.html">Expositores</a></li>
              <li><a href="publico.html">Público</a></li>
            </ul>
          </nav>
        </header>
        <div class="Page__Container Publico PubExp">
          <div class="PubExp__Row">
            <div class="PubExp__Item Col1">
              <div class="Col1__Row1">
                <div class="PubExp__Logo">
                  <div class="PubExp__LogoContent"><a href="index.html"><img class="LogoPrincipal" src="images/home_logo.png" alt=""/></a></div>
                </div>
              </div>
              <div class="Col1__Row2">
                <div class="Col1__Row2__Content">
                  <div class="Col1__Row2__Item fondoPublico">
                    <div class="Box">
                      <h2>PÚBLICO</h2>
                      <p><b>Ovum2019:</b> 03 dias de charlas, los top latinoamericanos, proveedores, polleros, ingernieros, quimicos, biologicos, empresarios y mas, todos juntos... en la capital Gastronómica de America.</p>
                      <p><b>Ovum2019,</b> donde nace la camaraderia, donde nace el futuro.</p>
                    </div>
                    <div class="Box__Links">
                      <div class="Box__Links_Item Stands"><a href="stands.html">Stands </a></div>
                      <div class="Box__Links_Item Expositores"><a href="expositores.html">Expositores</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="PubExp__Item Col2">
              <div class="Publico__Programa Content">
                <div class="Publico__Programa Item">
                  <div class="Publico__Programa__Content">
                    <h4>Programa de mano</h4>
                    <ul>
                      <li>
                        <div class="Hora">9am.</div>
                        <div class="Descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, excepturi a deserunt praesentium perferendis corrupti animi repellendus natus laborum repudiandae cum odit facilis atque et distinctio quia ex voluptates quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni nesciunt harum, dolorem a iure facilis </div>
                      </li>
                      <li>
                        <div class="Hora">11am.</div>
                        <div class="Descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, excepturi a deserunt praesentium perferendis corrupti animi repellendus natus laborum repudiandae cum odit facilis atque et distinctio quia ex voluptates quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni nesciunt harum, dolorem a iure facilis </div>
                      </li>
                      <li>
                        <div class="Hora">3pm.</div>
                        <div class="Descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, excepturi a deserunt praesentium perferendis corrupti animi repellendus natus laborum repudiandae cum odit facilis atque et distinctio quia ex voluptates quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni nesciunt harum, dolorem a iure facilis </div>
                      </li>
                      <li>
                        <div class="Hora">4pm.</div>
                        <div class="Descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, excepturi a deserunt praesentium perferendis corrupti animi repellendus natus laborum repudiandae cum odit facilis atque et distinctio quia ex voluptates quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni nesciunt harum, dolorem a iure facilis </div>
                      </li>
                      <li>
                        <div class="Hora">6pm.</div>
                        <div class="Descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, excepturi a deserunt praesentium perferendis corrupti animi repellendus natus laborum repudiandae cum odit facilis atque et distinctio quia ex voluptates quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni nesciunt harum, dolorem a iure facilis</div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ContactoForm">
          <div class="ContactoClose icon-close"></div>
          <div class="ContactoForm__Container">
            <div class="ContactoForm__Item">
              <form id="FormContacto" method="">
                <h2>Contáctanos</h2>
                <div class="row">
                  <div class="col_label">
                    <label>Nombre:</label>
                  </div>
                  <div class="col_input">
                    <input type="text" name="nombre"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col_label">
                    <label>Correo:</label>
                  </div>
                  <div class="col_input">
                    <input type="text" name="correo"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col_label">
                    <label>Empresa:</label>
                  </div>
                  <div class="col_input">
                    <input type="text" name="empresa"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col_label">
                    <label>Telefono:</label>
                  </div>
                  <div class="col_input">
                    <input type="text" name="telefono"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col_label">
                    <label>Mensaje:</label>
                  </div>
                  <div class="col_input">
                    <textarea name="mensaje" rows="5" id="message"></textarea>
                  </div>
                </div>
                <div class="row">
                  <button type="submit">Enviar </button>
                </div>
              </form>
            </div>
            <div class="ContactoForm__Item">
              <div class="MapaDireccion">
                <div id="Mapa"></div>
                <div class="Direccion">
                  <p>ASOCIACIÓN PERUANA DE AVICULTURA <br> Direccion: Av. Esmeralda 255  Chacarilla del Estanque San Borja <br>Central Telefónica 51(1) 372-1540</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="Page__Contacto"><a href="#">Contacto</a></div>
        <div class="Page__Footer"><span class="FooterText">Congreso Latinoamericano de Avicultura 2019. Todos los derechos reservados</span>
          <div class="FooterSocial"><a class="icon-facebook" href="#"></a><a class="icon-linkedin" href="#"></a></div>
        </div>
      </div>
    </div>
    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="js/jquery.form.min.js"></script>
    <script src="js/jquery.validate.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

publico.pug
extends template.pug

block contenido
  .Page__Container.Publico.PubExp
    .PubExp__Row
      .PubExp__Item.Col1
        .Col1__Row1
          .PubExp__Logo
            .PubExp__LogoContent
              a(href="index.html")
                img.LogoPrincipal(src="images/home_logo.png", alt="")
        .Col1__Row2
          .Col1__Row2__Content
            .Col1__Row2__Item.fondoPublico
              .Box
                h2 PÚBLICO
                p <b>Ovum2019:</b> 03 dias de charlas, los top latinoamericanos, proveedores, polleros, ingernieros, quimicos, biologicos, empresarios y mas, todos juntos... en la capital Gastronómica de America.
                p <b>Ovum2019,</b> donde nace la camaraderia, donde nace el futuro.
              .Box__Links
                .Box__Links_Item.Stands
                  a(href="stands.html") Stands 
                .Box__Links_Item.Expositores
                  a(href="expositores.html") Expositores

      .PubExp__Item.Col2
        .Publico__Programa.Content
          .Publico__Programa.Item
            .Publico__Programa__Content
              h4 Programa de mano
              ul
                li
                  .Hora 9am.
                  .Descripcion Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, excepturi a deserunt praesentium perferendis corrupti animi repellendus natus laborum repudiandae cum odit facilis atque et distinctio quia ex voluptates quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni nesciunt harum, dolorem a iure facilis 
                li
                  .Hora 11am.
                  .Descripcion Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, excepturi a deserunt praesentium perferendis corrupti animi repellendus natus laborum repudiandae cum odit facilis atque et distinctio quia ex voluptates quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni nesciunt harum, dolorem a iure facilis 
                li
                  .Hora 3pm.
                  .Descripcion Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, excepturi a deserunt praesentium perferendis corrupti animi repellendus natus laborum repudiandae cum odit facilis atque et distinctio quia ex voluptates quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni nesciunt harum, dolorem a iure facilis 
                li
                  .Hora 4pm.
                  .Descripcion Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, excepturi a deserunt praesentium perferendis corrupti animi repellendus natus laborum repudiandae cum odit facilis atque et distinctio quia ex voluptates quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni nesciunt harum, dolorem a iure facilis 
                li
                  .Hora 6pm.
                  .Descripcion Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, excepturi a deserunt praesentium perferendis corrupti animi repellendus natus laborum repudiandae cum odit facilis atque et distinctio quia ex voluptates quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni nesciunt harum, dolorem a iure facilis
