stands.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="shortcut icon" href="images/favicon.png"/>
    <link rel="stylesheet" href="https://file.myfontastic.com/4iY3LJhFfH23HpUnfQazjS/icons.css"/>
    <link rel="stylesheet" href="css/styles.css"/>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArCETPtmpt7r3Dxb9FjN0zg1nIY-ejWyc"></script>
    <script src="js/gmaps.js"></script>
    <title>OVUM</title>
  </head>
  <body>
    <div class="Page">
      <div class="Page__Content">
        <div class="Page__Bars icon-bars"> </div>
        <header class="Header">
          <div class="Header__Close icon-close"></div>
          <nav>
            <ul>
              <li><a href="index.html">Inicio</a></li>
              <li><a href="stands.html">Stands</a></li>
              <li><a href="expositores.html">Expositores</a></li>
              <li><a href="publico.html">Público</a></li>
            </ul>
          </nav>
        </header>
        <div class="Page__Container Stands PubExp">
          <div class="Page__Opacity"></div>
          <div class="Page__LightBox">
            <div class="close icon-close"></div>
            <div class="Formulario">
              <h2>Reserva tu Stand aquí</h2>
              <form id="FormReservaStand" action="enviar_reserva.php" method="post">
                <div class="row">
                  <div class="col_input">
                    <input type="text" name="nombre" placeholder="Nombre Completo*"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col_input">
                    <input type="text" name="email" placeholder="E-Mail*"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col_input">
                    <input type="text" name="telefono" placeholder="Teléfono*"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col_input">
                    <textarea name="consulta" rows="4" placeholder="Consulta"></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="col50"><label class="checkboxlabel"><input type="checkbox" name="politicas">He leido y acepto la Politica de tratamiento de datos</label></div>
                  <div class="col50">
                    <button type="submit">Enviar</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col50">
                    <div class="telefono"><span class="icon-telefono">(511) 261 1071</span></div>
                  </div>
                  <div class="col50">
                    <div class="CamposObligatorios">(*) Campos Obligatorios</div>
                  </div>
                </div>
              </form>
            </div>
            <div class="Felicitaciones"><img src="images/felicitaciones.png" alt=""/>
              <p>Acabas de reservar tu stand en el Ovum2019.<br>Nuestros asesores se comunicarán contigo para finalziar el proceso.</p>
              <p>¡Nos vemos en Lima!</p>
            </div>
          </div>
          <div class="PubExp__Row">
            <div class="PubExp__Item Col1">
              <div class="Col1__Row1">
                <div class="PubExp__Logo">
                  <div class="PubExp__LogoContent"><a href="index.html"><img class="LogoPrincipal" src="images/home_logo.png" alt=""/></a></div>
                </div>
              </div>
              <div class="Col1__Row2">
                <div class="Col1__Row2__Content">
                  <div class="Col1__Row2__Item fondoStands">
                    <div class="Box">
                      <h2>Stands</h2>
                      <p><b>Ovum2019:</b> 30,000mts2 con 500 stands en el congreso más importante de Avicultura de Latinoamérica, con los más importantes de la industria reunidos... No puedes no estar.</p>
                      <p><b>Ovum2019,</b> donde nace la camaraderia, donde nace el futuro.</p>
                    </div>
                    <div class="Box__Links">
                      <div class="Box__Links_Item Expositores"><a href="expositores.html">Expositores </a></div>
                      <div class="Box__Links_Item Publico"><a href="publico.html">Público</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="PubExp__Item Col2">
              <div class="Stands__Right Content">
                <div class="Stands__Right Item">
                  <div class="Stands__Circulo"><img src="images/stands_circulo.png" alt=""/></div>
                  <div class="Stands__Informate">
                    <p>Reserva tu stands en el congreso de Avicultura</p>
                    <button class="link" href="#">Infórmate aquí</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ContactoForm">
          <div class="ContactoClose icon-close"></div>
          <div class="ContactoForm__Container">
            <div class="ContactoForm__Item">
              <form id="FormContacto" method="">
                <h2>Contáctanos</h2>
                <div class="row">
                  <div class="col_label">
                    <label>Nombre:</label>
                  </div>
                  <div class="col_input">
                    <input type="text" name="nombre"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col_label">
                    <label>Correo:</label>
                  </div>
                  <div class="col_input">
                    <input type="text" name="correo"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col_label">
                    <label>Empresa:</label>
                  </div>
                  <div class="col_input">
                    <input type="text" name="empresa"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col_label">
                    <label>Telefono:</label>
                  </div>
                  <div class="col_input">
                    <input type="text" name="telefono"/>
                  </div>
                </div>
                <div class="row">
                  <div class="col_label">
                    <label>Mensaje:</label>
                  </div>
                  <div class="col_input">
                    <textarea name="mensaje" rows="5" id="message"></textarea>
                  </div>
                </div>
                <div class="row">
                  <button type="submit">Enviar </button>
                </div>
              </form>
            </div>
            <div class="ContactoForm__Item">
              <div class="MapaDireccion">
                <div id="Mapa"></div>
                <div class="Direccion">
                  <p>ASOCIACIÓN PERUANA DE AVICULTURA <br> Direccion: Av. Esmeralda 255  Chacarilla del Estanque San Borja <br>Central Telefónica 51(1) 372-1540</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="Page__Contacto"><a href="#">Contacto</a></div>
        <div class="Page__Footer"><span class="FooterText">Congreso Latinoamericano de Avicultura 2019. Todos los derechos reservados</span>
          <div class="FooterSocial"><a class="icon-facebook" href="#"></a><a class="icon-linkedin" href="#"></a></div>
        </div>
      </div>
    </div>
    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="js/jquery.form.min.js"></script>
    <script src="js/jquery.validate.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

stands.pug
extends template.pug

block contenido
  .Page__Container.Stands.PubExp
    .Page__Opacity
    .Page__LightBox
      .close.icon-close
      .Formulario
        h2 Reserva tu Stand aquí
        form(id="FormReservaStand",action="enviar_reserva.php",method="post")
          .row
            .col_input
              input(type="text",name="nombre",placeholder="Nombre Completo*")
          .row
            .col_input
              input(type="text",name="email",placeholder="E-Mail*")
          .row
            .col_input
              input(type="text",name="telefono",placeholder="Teléfono*")
          .row
            .col_input
              textarea(name="consulta", rows="4", placeholder="Consulta")
          .row
            .col50
              <label class="checkboxlabel"><input type="checkbox" name="politicas">He leido y acepto la Politica de tratamiento de datos</label>
                
            .col50
              button(type="submit") Enviar
          .row
            .col50
              .telefono
                span.icon-telefono (511) 261 1071
            .col50
              .CamposObligatorios (*) Campos Obligatorios
      .Felicitaciones
        img(src="images/felicitaciones.png", alt="")
        p Acabas de reservar tu stand en el Ovum2019.<br>Nuestros asesores se comunicarán contigo para finalziar el proceso.
        p ¡Nos vemos en Lima!


    .PubExp__Row
      .PubExp__Item.Col1
        .Col1__Row1
          .PubExp__Logo
            .PubExp__LogoContent
              a(href="index.html")
                img.LogoPrincipal(src="images/home_logo.png", alt="")
        .Col1__Row2
          .Col1__Row2__Content
            .Col1__Row2__Item.fondoStands
              .Box
                h2 Stands
                p <b>Ovum2019:</b> 30,000mts2 con 500 stands en el congreso más importante de Avicultura de Latinoamérica, con los más importantes de la industria reunidos... No puedes no estar.
                p <b>Ovum2019,</b> donde nace la camaraderia, donde nace el futuro.
              .Box__Links
                .Box__Links_Item.Expositores
                  a(href="expositores.html") Expositores 
                .Box__Links_Item.Publico
                  a(href="publico.html") Público

      .PubExp__Item.Col2
        .Stands__Right.Content
          .Stands__Right.Item
            .Stands__Circulo
              img(src="images/stands_circulo.png", alt="")
            .Stands__Informate
              p Reserva tu stands en el congreso de Avicultura
              button.link(href="#") Infórmate aquí
